body{
margin:0;
font-family:Arial;
background:#0f172a;
color:#e2e8f0;
}

/* navbar */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
background:#020617;
position:fixed;
width:100%;
}

.nav-links{
display:flex;
list-style:none;
gap:20px;
}

.nav-links a{
color:white;
text-decoration:none;
}


/* hero */

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.profile{
width:150px;
border-radius:50%;
margin-bottom:20px;
}

.btn{
padding:10px 20px;
border:none;
background:#38bdf8;
color:black;
cursor:pointer;
}
/* MOBILE RESPONSIVE */

@media (max-width:768px){

.navbar{
flex-direction:column;
padding:15px;
}

.nav-links{
flex-direction:column;
gap:10px;
margin-top:10px;
}

.hero h1{
font-size:32px;
}

.profile{
width:120px;
}

.project-container{
flex-direction:column;
align-items:center;
}

.project{
width:90%;
}

.skill-list{
flex-direction:column;
align-items:center;
}

}
#progress-bar{
position:fixed;
top:0;
left:0;
height:4px;
background:#38bdf8;
width:0%;
z-index:3000;
}

.menu-toggle{
display:none;
font-size:24px;
color:#38bdf8;
cursor:pointer;
}

/* MOBILE NAVBAR */

@media (max-width:768px){

.nav-links{
position:absolute;
top:70px;
right:0;
background:#020617;
flex-direction:column;
width:200px;
display:none;
padding:20px;
gap:15px;
}

.nav-links.active{
display:flex;
}

.menu-toggle{
display:block;
}

}